<div class="row">
  <div class="col-sm-6 offset-sm-3 mt-5 mb-5">
    
    <h3 class="mb-4 signup-title">ユーザー登録</h3>

    <%= form_with(model: user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group mb-4">
        <%= f.label :name, 'ユーザーネーム' %> <span class="badge badge-danger">必須</span>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group mb-4">
        <%= f.label :email, 'メールアドレス' %> <span class="badge badge-danger">必須</span>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group mb-4">
        <%= f.label :password, 'パスワード' %> <span class="badge badge-danger">必須</span>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group mb-4">
        <%= f.label :password_confirmation, 'パスワードの確認' %> <span class="badge badge-danger">必須</span>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :profile, 'プロフィール' %> <span class="badge badge-warning">任意</span>
        <%= f.text_area :profile, size: "20x10", class: 'form-control' %>
      </div>
      
      <div class="field">
        <p class="image-label"><%= f.label :image, 'プロフィール画像' %> <span class="badge badge-warning">任意</span></p> 
        <%= f.file_field :image %>
      </div>

      <%= f.submit '登録する', class: 'btn btn-primary btn-lg mx-auto d-block active mb-4' %>
    <% end %>
    
    <p class="login-bottom-text">すでに登録済みの方は <%= link_to 'こちら', login_path %></p>
  </div>
</div>