<div class="row">
  <div class="col-sm-6 offset-sm-3 mt-3">
    
    <%= form_with(model: @post, local: true) do |f| %>
    
      <%= f.hidden_field :for_id, :value => params[:for_post_id] %>
    
      <div class="form-group">
        <%= f.label :content, '投稿内容'  %>
        <%= f.text_area :content, size: "10x8", class: 'form-control textarea js-text', placeholder: "今の気持ちを書こう！" %>
        <P class="js-text-count pull-right"></P>
      </div>
      
      <div class="check_box mt-3">
        <%= f.check_box :joy %>
        <%= f.label :joy, "よろこび" %>
        <%= image_tag 'joy.png', size: "25x25", class: "mr-5" %>
        
        <%= f.check_box :angry %>
        <%= f.label :angry, "怒り" %>
        <%= image_tag 'angry.png', size: "25x25" %>
      </div>

      <div class="check_box">
        <%= f.check_box :sad %>
        <%= f.label :sad, "かなしい" %>
        <%= image_tag 'sad.png', size: "25x25", class: "mr-5" %>
        
        <%= f.check_box :happy %>
        <%= f.label :happy, "楽しい" %>
        <%= image_tag 'happy.png', size: "25x25" %>
      </div>
      
      <div class="output-article-button mt-3">
        <%= f.submit '投稿する', class: 'btn-gradient-radius mb-5' %>
      </div>
      
    <% end %>
  </div>
</div>