<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">キドアイラク</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          
          <li class="nav-item mr-2 d-none d-sm-block">
            <%= link_to new_post_path(current_user), class: 'nav-link mr-2', data: {"turbolinks" => false} do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </li>
          <li class="nav-item mr-2 d-none d-sm-block">
            <%= link_to user_path(current_user), class: 'nav-link mr-2' do %>
              <i class="fas fa-user"></i>
            <% end %>
          </li>
          <li class="nav-item mr-2 d-none d-sm-block">
            <%= link_to notifications_path(current_user), class: 'nav-link mr2' do %>
              <i class="fas fa-bell"></i> <span class="badge badge-light"><%= current_user.passive_notifications.where(checked: false).count %></span>
            <% end %>
          </li>
          
          <li class="nav-item mr-2 d-block d-sm-none">
            <%= link_to '投稿',  new_post_path(current_user), class: 'nav-link mr-2' %>
          </li>
          <li class="nav-item mr-2 d-block d-sm-none">
            <%= link_to 'マイページ', user_path(current_user), class: 'nav-link mr-2' %>
          </li>
          <li class="nav-item mr-2 d-block d-sm-none">
            <%= link_to notifications_path(current_user), class: 'nav-link mr2' do %>
              通知 <span class="badge badge-light"><%= current_user.passive_notifications.where(checked: false).count %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>